.blog-title, .blog-description, .blog-dates {
    color: #54a4f9;
}

.blog-title {
    font-size: 4rem;
}

.blog-dates {
    font-size: 3rem;
    color: white;
    background-color: #54a4f9;
}

.post-holder {
    background: white;
}

.oneOff, a.btn {
    background-color: #0655bc;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

a.fn-item.active {
    color: #fed809;
}